h1 {background-color: darkblue; 
    color: white; 
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;}
h2 {color: yellow; 
    background-color: blue; 
    width: 100%; 
    font-family: Arial, Helvetica, sans-serif; font-size: 18px;}
.headSection {background-color: lightgray; 
    width: 100%;}
.bodySection {color: blue; 
    font-size: 14px; 
    margin: 2px; 
    background-color: lightyellow; 
    width: 100%;}
.teamCard {display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 20%}